#feedHead {
    background-color: green;
    color: whitesmoke;
    text-align: center;
    padding: 26px;
}

#feedNav ul {
    list-style-type: none;
    background-color: blue;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#feedNav li {
    float: left;
    padding: 16px;
}



#feedMain {
    background: #222222;
    color: whitesmoke;
    text-align: center;
    padding: 350px;
}
