#profileHead {
    background-color: green;
    color: whitesmoke;
    text-align: center;
    padding: 26px;
}

#profileNav ul {
    list-style-type: none;
    background-color: blue;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#profileNav li {
    float: left;
    padding: 16px;
}

#profileMain {
    background: #222222;
    color: whitesmoke;
    text-align: center;
    padding: 350px;
}
